@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 
    400
    500
    700
*/
@import url('reset.css');
@import url('root.css');
@import url('global.css');
@import url('page.css');