/* 셋팅 페이지 */
.settingPage{ position: relative;
    & h2{margin-bottom: 23px;}
    & figure{text-align: center; margin-bottom: 30px;
        & img{width: 72px; border-radius: 30px; margin-bottom: 8px;}
        & figcaption{font-size: 16px; font-weight: 700; line-height: 23px;}
    }
    & ul li{
        & a{display: block; font-size: 13px; font-weight: 500; line-height: 19px;}
        &:not(:last-child){margin-bottom: 20px;}
    }
    & button{position: absolute; right: var(--spasing); top: 44px;}
}

/* 적립금 페이지 */
.reserversPage{
    & .pointArea{display: flex; flex-direction: column; align-items: center; padding: var(--spasing);  box-shadow: 0px 3px 10px rgba(26, 0, 0, 0.15); border-radius: 15px;
        & strong{font-size: 13px; font-weight: 700; line-height: 19px; margin-bottom: 4px;}
        & mark{font-size: 18px; font-weight: 700;
            &::after{font-weight: 400;}
        }
    }
    & .boardBox{
        & :is(.topArea, ul li) > *{text-align: center; padding-inline: var(--spasing); box-sizing: border-box;
            &:nth-child(1){flex: 100;}
            &:nth-child(2){flex: 102;}
            &:nth-child(3){flex: 118;}
        }
    }
}

/* 새소식 페이지 */
.newsPage .boardBox ul li a{display: flex; height: 87px; padding-block: 14px; box-sizing: border-box;
    & .imgArea{flex-shrink: 0; width: 94px; margin-right: 10px;
        & img{width: 100%; height: 100%; object-fit: cover; border-radius: 6px;}
    }
    & .textArea{ display: flex; flex-direction: column; justify-content: center;
        & strong{font-size: 13px; font-weight: 500; line-height: 19px;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical;
            &:has(+ p){margin-bottom: 4px;}
        }
        & p{line-height: 17px; color: #929292; display: flex; align-items: center;
            & *:not(:last-child){display: flex; align-items: center;
                &::after{content: ''; width: 1px; height: 10px; background-color: #e4e4e4; margin-inline: 0.6em;}
            }
        }
    }
}


/* 새소식 상세 페이지 */
.newsDetailPage{ position: relative;
    & img{width: 100%; padding-top: 14px;}
    & div{position: absolute; left: 0; top: 194.4444vw; width: 100%; display: flex; align-items: center; gap: 3.6111vw;
        & button{height: 10.2777vw; font-size: 3.3333vw; font-weight: 500; line-height: 1; border-radius: 1.6666vw;
            &.copy_url{flex: 75; color: var(--color); border: 0.2778vw solid var(--color);}
            &.kakao_invite{flex: 202; color: white; background-color: var(--color); display: flex; justify-content: center; align-items: center;
                &::before{content: ''; width: 5.7222vw; aspect-ratio: 1; background: url('../images/icon-kakao.png') no-repeat center / cover; margin-bottom: -0.5555vw; margin-right: 1.3888vw;}
            }
        }
    }
}